a
{
    color: black;
    font-size: 250%;
    width:100%;
    text-decoration:none;

    height: 100%;
}

.day1,.day2,.day4
{
    width:10%;
    float:left;
    /*padding: inherit;*/
}
.day3,.day5,.day6,.day7
{
    width:16%;
    float:left;
   /* padding: inherit    ;*/
}
.container
{
    margin-left:5%;
    width:90%;
}